* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif ;
    color: #232424;
    text-decoration: none;
}
  
  body {
    left: 0px;
    top: 0px;
    background: #fcfcfc;
} 

/* Sobre */

.sobre-princ p {
    text-align: center;
    margin:50px 100px 50px 100px;
}

/* end */

/* UReview cads and title */

#title-1 {
  position:relative;
  margin:40px 30px;
  font-size: 3vw;
}

.cards1  {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  margin: 5% 5%;
  cursor: pointer;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container-css {
  padding: 2px 16px;
}

/* end */

/* HOME */
.countainer-1 {
  display: flex;
  margin: 100px 300px;
  position: relative;
  justify-content: space-around;
}

/* end */

.countainer-card {
  display: flex;
}

.text-card{
  margin: 60px;
}

p {
  margin: 20px;
}

#bnt-1 {
  font-size: 1.2vw;
}

#first-p{
  font-size: 5vw;
  margin-right: 50px;
}

#bnt1 {
  color: #fcfcfc;
}

#second-p {
  font-size: 2vw;
  margin: 50px;
}


  a, li{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  li:hover {
    text-decoration: none;
    opacity: 0.7;
  }

  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background:#8A4DDE;
    position: relative;
  }
  
  button {
    margin-left: 20px;
    padding: 9px 25px;
    background: linear-gradient(160.85deg, #7433FF 0%, #e668e4 100%);
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition:all 0.3s ease 0s;
}

button:hover {
    opacity: 0.7;
}
  

 