*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif ;
    color: #ECF0F1;
    text-decoration: none;
}

body {
    position: absolute;
    width: 1440px;
    height: 900px;
    left: 0px;
    top: 0px;
    background: #1B2631;
}

li, a, button {
    font-family: 'Poppins', sans-serif ;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

label.logo {
    cursor: pointer;
    width: 100px;
    order: 3;
    margin-left: auto;
    line-height: 80px;
    padding: 0 100px;
}

/*nav {
    order: 1;
    height:80px;
    width:100%;
}*/

/* Adicionais */

nav ul {
    float: right;
    margin: 40px;
}

nav li {
    display:inline-block;
    margin:0 8px;
    line-height: 80px;
}

nav a {
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}   



/* fim */

.cta {
    order:2;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px; 
}

.nav_links li:nth-child(1) {
    padding: 0 20px 0 0; 
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color:#8a4dde;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #8a4dde;
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition:all 0.3s ease 0s;
}

button:hover {
    background-color: rgb(16, 15, 15);
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}








  /*body{font-family: 'Poppins', sans-serif;}

#first-p{font-size: 5vw;}
  */


/*button{border: none;
        border-radius: 50px;
    padding: 5px;
    margin: 5px;
    background-color: blueviolet;
    }

    a{color: black;
    margin-left: 70%;
    position: relative;}*/
